@media only screen and (max-width: 1336px) {
    html {
        font-size: 0.975rem;
        transition: font-size 1s;
        -moz-transition: font-size 1s;
        -ms-transition: font-size 1s;
        -o-transition: font-size 1s;
        -webkit-transition: font-size 1s;
    }

    .description {
        padding: 120px 0 0 26px;
        font-size: 0.975rem;
        transition: padding-left 1s, font-size 1s;
        -moz-transition: padding-left 1s, font-size 1s;
        -ms-transition: padding-left 1s, font-size 1s;
        -o-transition: padding-left 1s, font-size 1s;
        -webkit-transition: padding-left 1s, font-size 1s;
    }
}




@media only screen and (max-width: 1024px) {

    html {
        font-size: 0.95rem;
    }

    body {
        padding: 8.1rem 0 0 0;
        -webkit-transition: padding 1s;
        -o-transition: padding 1s;
        transition: padding 1s;
    }

    .menu {
        width: 100%;
        text-align: right;
        padding: 40px 0;
        background-color: #232728;
        border-bottom: solid 1px #e0b160;
        z-index: 1;
        bottom: auto;
    }

    .slide-down-arrow {
        display: block;
        position: absolute;
        top: 30px;
        left: 260px;
        height: 22px;
        background: #232728;
        cursor: pointer;
    }


    .slide-down-arrow-stick {
        display: inline-block;
        position: relative;
        left: 10px;
        vertical-align: middle;
        height: .5px;
        width: 55px;
        border: .5px solid #e0b160;
    }

    .slide-down-arrow-arrow {
        display: inline-block;
        position: relative;
        left: 5px;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-left-color: #e0b160;
        border-width: 4px 0 5px 10px;
        vertical-align: middle;

    }



/*МЕНЮ*/
    .dots-menu {
        display: inline-block;
        position: relative;
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        right: 30px;
        width: 25px;
        height: 25px;
        text-align: center;
        cursor: pointer;
    }

    .dot {
        position: relative;
        display: inline-block;
        width: 3px;
        height: 3px;
        background: linear-gradient(#E0B160 0%, #D8D8D8 50%, #E0B160 100%);
        border-radius: 50%;
        transition: transform 1s;
        -moz-transition: transform 1s;
        -ms-transition: transform 1s;
        -o-transition: transform 1s;
        -webkit-transition: transform 1s;
    }

    .dot:not(:nth-child(3)) {
        margin-right: 2px;
    }

    .top {
        all: unset;
        position: fixed;
        width: 350px;
        top: 0;
        bottom: 0;
        right: -400px;
        opacity: 0;
        text-align: left;
        box-shadow: 0 0 20px rgba(0,0,0,0.5);
        -moz-box-shadow: 0 0 20px rgba(0,0,0,0.5);;
        -o-box-shadow: 0 0 20px rgba(0,0,0,0.5);;
        -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.5);;
        background-color: #232728;
        padding: 105px 0 0 33px;
        border-left: solid 1px #2d2d2d;
    }

    .sub {
        all: unset;
        display: none;
    }


    .sub > li > a {
        position: relative;
        color: #999;
        left: 25px;
    }

    .company-member {
        margin: 0 1.0625rem 1.0625rem 1.0625rem;
        transition: margin 1s;
        -moz-transition: margin 1s;
        -ms-transition: margin 1s;
        -o-transition: margin 1s;
        -webkit-transition: margin 1s;
    }

}


@media only screen and (max-width: 480px) {

    .top {
        all: unset;
        display: none;
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        text-align: left;
        background-color: #232728;
        padding: 105px 0 0 33px;
        border-left: solid 1px #2d2d2d;
    }

    .slide-down-arrow {

        left: 6%;

    }

}
